.testimonial-card-skeleton {
  width: 100%;
  max-width: 350px;
  background: var(--card-background);
  min-height: 308px;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  padding: 20px;
  gap: 30px;

  .skeleton-content {
    width: 100%;
    min-height: 54px;
    gap: 14px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    .skeleton-text {
      height: 12px;
      border-radius: var(--border-radius);
      border: 1px solid var(--border-color);
      background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
      background-size: 200% 100%;
      -webkit-animation: loading 1.5s infinite;
      animation: loading 1.5s infinite;
      &:nth-child(3),
      &:nth-child(4) {
        width: 90%;
      }
      &:nth-child(5),
      &:nth-child(6) {
        width: 60%;
      }
    }

    .skeleton-customer-info {
      display: flex;
      align-items: center;
      gap: 10px;

      .skeleton-img {
        width: 53px;
        height: 53px;
        background: #f0f0f0;
        border-radius: 50%;
        border: 1px solid var(--border-color);
      }

      .skeleton-info-perso {
        display: flex;
        flex-direction: column;
        gap: 8px;
        .skeleton-name {
          height: 12px;
          width: 60px;
          background: linear-gradient(
            90deg,
            #f0f0f0 25%,
            #e0e0e0 50%,
            #f0f0f0 75%
          );
          background-size: 200% 100%;
          -webkit-animation: loading 1.5s infinite;
          animation: loading 1.5s infinite;
          border: 1px solid var(--border-color);
        }

        .skeleton-post {
          height: 12px;
          width: 80px;
          border: 1px solid var(--border-color);
          background: linear-gradient(
            90deg,
            #f0f0f0 25%,
            #e0e0e0 50%,
            #f0f0f0 75%
          );
          background-size: 200% 100%;
          -webkit-animation: loading 1.5s infinite;
          animation: loading 1.5s infinite;
        }
      }
    }
  }

  @-webkit-keyframes loading {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }

  @keyframes loading {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
}
