.testimonial-card {
  width: 100%;
  max-width: 350px;
  background: var(--card-background);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  padding: 20px;
  gap: 30px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    border: 1px solid var(--goavana-blue);
  }
  .customer-info {
    width: 100%;
    min-height: 54px;
    gap: 14px;

    .img {
      min-width: 53px;
      min-height: 53px;
      border-radius: 100%;
    }
    .info-perso {
      .name {
        line-height: auto;
        text-transform: uppercase;
      }
    }
  }
}
