.akata-button-outline {
  padding: 12px 36px;
  border: 0;
  outline: 0;
  cursor: pointer;
  min-width: 154px;
  border-radius: 4px;
  background: var(--light);
  border: 1px solid var(--goavana-blue, #001751);
  transition: transform 0.2s ease-in-out, background 0.2s ease-in-out,
    border 0.2s ease-in-out;
  &:hover {
    background: var(--goavana-yellow);
    border: 1px solid var(--goavana-yellow);
  }
  &:active {
    transform: scale(0.8);
  }
  color: var(--goavana-blue);
  font: normal 700 14px var(--font-poppins);
}
