.akata-navbar {
  // layout
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  // style
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--light, #fff);
  display: flex;
  justify-content: center;
  align-items: center;
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    position: relative;
    .navbar-brand {
      .brand {
        width: 49px;
        height: 49px;
        -o-object-fit: cover;
        object-fit: cover;
      }
    }
    .navbar-links {
      position: absolute;
      display: inline-flex;
      align-items: flex-start;
      gap: 40px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      a {
        text-decoration: none;
        color: var(--goavana-blue);
        font: normal 400 12px / normal "Poppins", sans-serif;
        letter-spacing: 0.036px;
        text-transform: uppercase;
        position: relative;
        transition: opacity 0.2s ease-in-out;
        opacity: 0.6;
        &.active {
          opacity: 1;
          &:before {
            position: absolute;
            content: "";
            width: 100%;
            height: 4px;
            background: var(--goavana-blue);
            left: 0;
            bottom: -25px;
          }
        }
        &:hover {
          opacity: 1;
          &:before {
            position: absolute;
            content: "";
            width: 100%;
            height: 4px;
            background: var(--goavana-blue);
            left: 0;
            bottom: -25px;
          }
        }
      }
    }
  }
}

* {
  border: 1px solid red;
}

@media (max-width: 1024px) {
  .akata-navbar {
    .navbar-content {
      .navbar-links {
        display: none;
      }
    }
  }
}
