.akata-navbar {
  // layout
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;

  // style
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--light, #fff);

  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    .navlink {
      display: inline-flex;
      align-items: flex-start;
      gap: 40px;
      a {
        text-decoration: none;
        color: var(--primary-dark, #222);
        font: normal 400 12px / normal "Poppins", sans-serif;
        letter-spacing: 0.036px;
        text-transform: uppercase;
        &.active {
          color: red;
        }
      }
    }
  }
}
