.akata-articles {
  position: relative;
  padding-top: 180px;
  .robot-hand {
    position: absolute;
    top: 30%;
    width: 250px;
    height: auto;
    left: 0;
    z-index: -1;
  }
  .article-content {

    gap: 50px;
    .content-title {
      gap: 10px;
      h2,
      p {
        text-align: center;
      }
    }
    .article-content-list {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 30px;
      overflow: auto;
      flex-wrap: nowrap;
      -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      &::-webkit-scrollbar {
        height: 0;
      }
      /* width */
      .expore-article {
        align-items: flex-start;
        scroll-snap-align: start;
        .article-count {
          color: var(--goavana-blue, #001751);
          font-size: 20px;
          font-style: normal;
          font-weight: 900;
          line-height: 36px; /* 180% */
          letter-spacing: 2px;
          word-spacing: 2px;
          text-transform: uppercase;
        }
        .btn-article-explore {
          cursor: pointer;
          width: 217px;
          text-align: left;
          border: 0;
          outline: 0;
          text-decoration: none;
          background: 0;
          .btn-icon {
            margin-left: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .akata-articles {
    .robot-hand {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .akata-articles {
    padding: 30px;
  }
}
