.akata-team-list {
  margin-top: 250px;

  .team-title-description {
    text-align: center;
    margin-top: 10px;

  }

  .list-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    gap: 70px;
    margin: 50px 0;

    .team-item {
      width: 100%;
      height: 193px;
      background: var(--card-background);
      margin-top: 100px;
      border-radius: var(--border-radius);
      border: 1px solid var(--border-color);
      padding: 20px;
      align-items: flex-start;
      position: relative;

      .profile-pics {
        position: absolute;
        width: 100px;
        height:100px;
        border-radius: 100%;
        top: -50px;
        right: 20px;
        overflow: hidden;
        border: 1px dashed var(--border-color);

        .pics {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .profile-info {
        gap: 5px;

        .profile-name {
          max-width: 208px;
          color: var(--primary-dark);
          font-family: var(--font-poopins), "Poppins", sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 23px;
          letter-spacing: 0.3px;
          text-transform: uppercase;
        }

        .profile-post {
          color: var(--text-dark);
          font-family: var(--font-poopins), "Poppins", sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 19.2px;
          max-width: 208px;
        }
      }

      .profile-social-link {
        gap: 10px;

        .link-item {
          text-decoration: none;
          color: var(--primary-dark);
          font-size: 20px;
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .akata-team-list {
    .list-content {
      grid-template-columns: 1fr 1fr;
    }
  }
}


@media (max-width: 768px) {
  .akata-team-list {
    .list-content {
      grid-template-columns: 1fr;
      .team-item {
        margin-top: 0;
        &:first-child {
          margin-top: 60px;
        }
        .profile-pics{
          width: 70px;
          height: 70px;
          top: -35px;
        }
      }
    }
  }
}

