.services {
  padding-top: 60px;
  justify-content: flex-start;

  .services-intro {
    margin: 80px 0 100px 0;
    gap: 10px;
    .services-intro-description {
      text-align: center;
    }
  }
  .services-items {
    min-height: 5px;
    max-width: 1058px;
    align-items: flex-end;
    .services-image {
      width: 100%;
      height: auto;
      max-width: 565px;
      transition: all 0.2s ease-in-out;
    }
    .item-info-text {
      gap: 30px;
      padding-bottom: 25px;
      .info-title {
        gap: 10px;
      }
    }
  }
}

.servces-list-item {
  gap: 100px;
}

@media (max-width: 1024px) {
  .services {
    .services-items {
      .services-image {
        max-width: 465px;
      }
    }
  }
}

@media (max-width: 768px) {
  .services {
    padding: 30px;
    .services-items {
      flex-direction: column;
      .services-image {
        display: none;
      }
    }
  }
}
