$debug-general: false;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

:root {
  --max-width: 1100px;
  --max-width-headlines: 600px;
  --max-width-section-text: 546px;
  --max-with-description: 441px;
  --border-color: #dddddd;
  --goavana-blue: #001751;
  --goavana-yellow: #ffba13;
  --card-background: #f2f3f6;
  --layer-background: rgba(0, 0, 0, 0.7);
  --goavana-danger: #e74c3c;
  --light: #ffffff;
  --primary-dark: #222222;
  --text-dark: #505d68;
  --font: var(--font-poppins, "Poppins");
  --border-radius: 4px;
  --goavana-success: #2ecc71;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.global-style {
  overflow: hidden;
}

html,
body {
  font-family: "Poppins";
  scroll-behavior: smooth;
}

.akata-title-strong {
  max-width: 546px;
  color: var(--goavana-blue, #001751);
  font: normal 900 50px/62.4px "Poppins";
  text-transform: uppercase;

  span {
    color: var(--goavana-yellow);
  }
}

.akata-title-medium {
  max-width: 546px;
  color: var(--goavana-blue, #001751);
  text-transform: uppercase;
  font: normal 900 20px/28px "Poppins";

  span {
    color: var(--goavana-yellow);
  }
}

.akata-text-big {
  max-width: 546px;
  color: var(--text-dark, #505d68);
  font: normal 400 16px/28px "Poppins";
  span {
    color: var(--goavana-blue);
    font-weight: bold;
  }
}

.akata-text-medium {
  @extend .akata-text-big;
  font-size: 14px;
  line-height: 19.6px;
}

.akata-text-small {
  @extend .akata-text-medium;
  font-size: 12px;
  line-height: 18.8px;

  &.error-message {
    color: var(--goavana-danger);
  }
}

.container {
  width: 100%;
  max-width: 1290px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.hidden {
  display: none;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.text-center {
  text-align: center;
}

.input-drop {
  width: 100%;
  min-height: 154px;
  background: var(--card-background);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  gap: 17px;

  .drop-file-icon {
    font-size: 50px;
    color: var(--text-dark);
    opacity: 0.5;
  }

  .drop-file-indicator {
    .important-text {
      color: var(--goavana-blue);
      text-decoration: underline;
    }
  }
}

.w-100 {
  width: 100%;
}

.fill-view {
  width: 100%;
  min-height: 100vh;
}

.drop-zone-section {
  .file-type-indicator {
    margin-top: 13px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// 2xl
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

// xl
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

// lg
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

// md
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

// sm
@media (max-width: 640px) {
  .container {
    width: 100%;
  }
}

// xs
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}

.animate-up {
  -webkit-animation: open-up 0.2s ease-out forwards;
  animation: open-up 0.2s ease-out forwards;
}

@-webkit-keyframes open-up {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes open-up {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@if ($debug-general) {
  * {
    border: 1px solid red;
  }
}
