@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap");

:root {
  --max-width: 1100px;
  --max-width-headlines: 600px;
  --max-width-section-text: 546px;
  --max-with-description: 441px;
  --border-color: #dddddd;
  --goavana-blue: #001751;
  --goavana-yellow: #ffba13;
  --card-background: #f2f3f6;
  --light: #ffffff;
  --primary-dark: #222222;
  --text-dark: #505d68;
  --font: "Poppins", ui-monospace, Menlo, Monaco, "Cascadia Mono",
    "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace",
    "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --border-radius: 4px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: var(--font);
}

.akata-title-strong {
  max-width: 546px;
  color: var(--goavana-blue, #001751);
  font: normal 900 50px/62.4px "Poppins", sans-serif;
  text-transform: uppercase;
  span {
    color: var(--goavana-yellow);
  }
}

.akata-title-medium {
  max-width: 546px;
  color: var(--goavana-blue, #001751);
  text-transform: uppercase;
  font: normal 900 20px/28px "Poppins", sans-serif;
  span {
    color: var(--goavana-yellow);
  }
}

.akata-text-big {
  max-width: 546px;
  color: var(--text-dark, #505d68);
  font: normal 400 16px/28px "Poppins", sans-serif;
}

.akata-text-medium {
  @extend .akata-text-big;
  font-size: 14px;
  line-height: 19.2px;
}

.akata-text-small {
  @extend .akata-text-medium;
  font-size: 12px;
  line-height: 18.8px;
}

.container {
  width: 100%;
  max-width: 1290px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

// 2xl
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

// xl
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

// lg
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

// md
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

// sm
@media (max-width: 640px) {
  .container {
    width: 100%;
  }
}

// xs
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}
