.akata-contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: row;
  padding-top: 150px;
  .contacts {
    width: 100%;
    height: auto;

    &.form {
      max-width: 451px;
      gap: 48px;
      .form-title {
        gap: 16px;
        h2 {
          max-width: 316px;
        }
      }
      .form-body {
        .contact-body {
          gap: 25px;
          .form-item {
            gap: 8px;
            position: relative;
            .form-icon {
              position: absolute;
              font-size: 20px;
              color: var(--text-dark);
              top: calc(28px + 16px);
              left: 20px;
            }
            input,
            textarea {
              padding: 16px 50px;
              width: 100%;
              background: var(--card-background);
              outline: 0;
              border: 1px solid var(--border-color);
              border-radius: var(--border-radius);
            }
          }
          button {
            max-width: 109px;
          }
        }
      }
    }
    &.adress {
      width: 100%;
      .adress-map {
        width: 100%;

        .map {
          width: 100%;
          height: auto;
          -o-object-fit: cover;
          object-fit: cover;
          border: 1px solid var(--border-color);
          border-radius: var(--border-radius);
        }
      }
      .adress-text {
        list-style-type: none;
        .text-item {
          margin-top: 25px;
          color: var(--goavana-blue);
          font-weight: 600;
          align-items: center;
          gap: 15px;
          .list-icon {
            color: var(--goavana-yellow);
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .akata-contacts {
    flex-direction: column;
    grid-template-columns: 1fr;
    gap: 50px;
    .contacts {
      &.form {
        max-width: 1024px;
        width: 100%;
        .form-body {
          .contact-body {
            input {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .akata-contacts {
    padding: 30px;
    flex-direction: column;
    grid-template-columns: 1fr;
    .contacts {
      &.form {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}
