.main-services {
  .services-intro {
    margin-top: 200px;
    text-align: center;
    h2 {
      padding-bottom: 20px;
    }
  }
  .main-services-lists {
    margin-top: 108px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    gap: 30px;
    position: relative;
    .btn-explore-services {
      cursor: pointer;
      position: absolute;
      width: 200px;
      height: 200px;
      background: var(--light);
      border-radius: 100%;
      border: 0;
      outline: 0;
      top: calc(50% - 100px);
      left: calc(50% - 100px);
      transition: all 0.2s ease;
      animation: desapear 2s linear infinite;
      span {
        transition: all 0.4s ease;
      }
      &:active {
        transform: scale(0.9);
      }

      &:hover {
        background: var(--goavana-yellow);
        color: var(--goavana-blue);
        transform: scale(1.05);
        span {
          color: var(--goavana-blue);
        }
      }
    }
  }
}

@keyframes desapear {
  0% {
    box-shadow: 0 0 0px 10px rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 0 0 30px 10px rgba(255, 255, 255, 0.4);
  }
  70% {
    box-shadow: 0 0 0px 10px rgba(255, 255, 255, 0.6);
  }
  100% {
    box-shadow: 0 0 0px 10px rgba(255, 255, 255, 0);
  }
}

@media (max-width: 768px) {
  .main-services {
    .main-services-lists {
      padding: 20px;
      grid-template-columns: 1fr;
    }
  }
}
