.akata-gallery {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .85);
  backdrop-filter: blur(5px);
  color: var(--light);
  z-index: 6;

  .gallery-container {
    width: 100%;
    min-height: 671px;
    max-width: 800px;
    gap: 52px;

    .gallery-container-shower {
      width: 100%;
      height: 534px;
      position: relative;

      .control-button {
        .btn-control {
          border: 0;
          outline: 0;
          background: 0;
          color: var(--light);
          font-size: 30px;
          padding: 20px;
          opacity: .5;
          transition: opacity .2s ease;
          cursor: pointer;
          position: absolute;
          bottom: -180px;

          .icon-button {
            padding: 20px;
          }

          &:nth-child(1) {
            left: -80px;
          }

          &:nth-child(2) {
            right: -80px;
          }

          &:hover {
            opacity: 1;
          }
        }

      }

      .shower {
        width: 100%;
        height: 100%;
        position: relative;
        border: 1px solid #dddddd;

        .btn-close-gallery {
          position: absolute;
          top: -60px;
          right: -60px;
          font-size: 38px;
          background: 0;
          outline: 0;
          border: 0;
          padding: 20px;
          color: var(--light);
        }

        .selected-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

      }


    }

    .picture-list {
      width: 100%;
      height: 120px;
      display: flex;
      flex-wrap: nowrap;
      white-space: nowrap;
      overflow: auto;
      gap: 20px;
      -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x proximity;
      scroll-behavior: smooth;
      position: relative;

      .list-thumb-container {
        border: 1px solid #dddddd;
        min-width: 200px;
        width: 200px;
        height: inherit;
        scroll-snap-align: start;
        overflow: hidden;
        position: relative;

        .list-thumb {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }


      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #666;
        border-radius: 3px;
      }
    }

  }
}