.akata-modal {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--layer-background);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
