.akata-modal {
  width: 100%;
  height: auto;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--layer-background);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  .modal-content {
    // layout
    width: 100%;
    max-width: 513px;
    min-height: 797px;
    padding: 35px 28px;
    gap: 48px;

    // style
    border-radius: 4px;
    background: var(--light, #fff);
    border-top: 7px solid var(--goavana-blue);
    position: relative;
    .modal-header {
      gap: 16px;
      .header-title {
        font-size: 24px;
        line-height: 36px;
      }
      .modal-button-close {
        cursor: pointer;
        position: absolute;
        padding: 10px;
        border: 0;
        outline: 0;
        background: var(--light);
        border-radius: var(--border-radius);
        top: 30px;
        right: 28px;
        width: 40px;
        height: 40px;
        transition: all 0.2s ease-in-out;
        color: var(--goavana-blue);
        &:hover {
          background: var(--goavana-blue);
          color: var(--light);
        }
        .close-icon {
          font-size: 26px;
        }
      }
    }
    .modal-body {
      width: 100%;
      min-height: 530px;
      .body-form {
        gap: 25px;
        .form-item {
          gap: 8px;
          position: relative;
          .form-icon {
            position: absolute;
            left: 20px;
            bottom: 19px;
            font-size: 18px;
            color: var(--text-dark);
          }
          input {
            padding: 19px 50px;
            background: var(--card-background);
            border: 1px solid var(--border-color);
            outline: 0;
            border-radius: var(--border-radius);
            transition: all 0.2s ease-in-out;
            &:focus {
              border: 1px solid var(--goavana-blue);
            }
            &::-webkit-input-placeholder {
              color: var(--primary-dark, #222);
              font-family: "Poppins", sans-serif;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 16.8px; /* 140% */
            }
            &::-moz-placeholder {
              color: var(--text-dark);
              font-family: Poppins;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 16.8px; /* 140% */
            }
            &:-ms-input-placeholder {
              color: var(--primary-dark, #222);
              font-family: Poppins;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 16.8px; /* 140% */
            }
            &::-ms-input-placeholder {
              color: var(--primary-dark, #222);
              font-family: Poppins;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 16.8px; /* 140% */
            }
            &::placeholder {
              color: var(--primary-dark, #222);
              font-family: Poppins;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 16.8px; /* 140% */
            }
          }
        }
      }
    }
    .modal-bottom {
      gap: 25px;
    }
  }
}
