.akata-footer {
  width: 100%;
  min-height: 314px;
  background: var(--goavana-blue);
  position: relative;
  gap: 75px;
  padding-top: 44px;
  padding-bottom: 12px;
  margin-top: 199px;

  span {
    color: var(--light);
  }

  .footer-shape {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .footer-right-shape {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .footer-element {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .footer-content {
      width: 100%;
      align-items: flex-end;

      .social-link {
        width: 100%;
        max-width: 160px;
        justify-content: space-between;
        text-decoration: none;
        color: var(--light);
        margin-top: 55px;

        a {
          text-decoration: none;
          color: var(--light);
          font-size: 30px;
          transition: all 0.2s ease-in-out;

          &:hover {
          }
        }
      }

      .logo {
        width: 100%;

        max-width: 180px;
        justify-content: space-between;
      }

      strong {
        color: var(--light);
      }

      ul {
        li {
          list-style-type: none;
          color: var(--light);
          margin-top: 10px;
          opacity: 0.8;
          max-width: 250px;

          &:nth-child(1) {
            margin-top: 20px;
          }

          a {
            text-decoration: none;
            color: var(--light);
            transition: all 0.3s ease-in-out;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .akata-footer {
    .footer-element {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      .footer-content {
        &:last-child {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-top: 20px;

          .logo {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }

    .footer-shape {
      width: 140px;
      height: auto;
    }

    .footer-right-shape {
      width: 140px;
      height: auto;
    }
  }
}

@media (max-width: 640px) {
  .akata-footer {
    padding: 30px;

    .footer-element {
      grid-template-columns: 1fr;
      gap: 30px;
      width: 100%;

      li {
        width: 100%;
      }

      .footer-content {
        &:last-child {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          .logo {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
      }
    }
  }
}
