.akata-team-page {
  padding: 32px 0 0;

  .btn-go-back {
    padding: 12px 20px 12px 0;
    background: none;
    outline: 0;
    border: 0;
    z-index: 1;

    // Typography
    color: var(--goavana-blue, #001751);
    font: {
      family: "Poppins", sans-serif;
      size: 16px;
      style: normal;
      weight: 700;
      line-height: normal;
    }
    cursor: pointer;

    .btn-icon {
      margin-right: 5px;
    }
  }
  .team-page-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100px;
    margin-top: 100px;
    .content-text {
      .text-description {
        margin-top: 16px;
        max-width: 500px;
      }
      .btn-open-modal{
        margin-top: 46px;
      }
    }
  }
}
