.akata-modal {
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--layer-background);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 10;
  padding: 20px;
  transition: all 0.5s ease;
}

.modal-layer {
  position: fixed;
  top: 0;
  left: 0;
}

.modal-content {
  max-width: 513px;
  padding: 35px 28px;
  gap: 48px;
  max-height: 95vh;
  overflow: auto;
  border-radius: 4px;
  background: var(--light, #fff);
  border-top: 7px solid var(--goavana-blue);
  position: relative;
}

.modal-header {
  gap: 16px;
}

.header-title {
  font-size: 24px;
  line-height: 36px;
}

.modal-button-close {
  cursor: pointer;
  position: absolute;
  padding: 10px;
  border: 0;
  outline: 0;
  background: var(--light);
  border-radius: var(--border-radius);
  top: 30px;
  right: 28px;
  width: 40px;
  height: 40px;
  transition: all 0.2s ease-in-out;
  color: var(--goavana-blue);
}

.modal-button-close:hover {
  background: var(--goavana-blue);
  color: var(--light);
}

.close-icon {
  font-size: 26px;
}

.body-form {
  gap: 25px;
}

.form-item {
  gap: 8px;
  position: relative;
}

.form-icon {
  position: absolute;
  left: 20px;
  top: 48px;
  font-size: 18px;
  color: var(--text-dark);
}

.error-send-message {
  border-radius: var(--border-radius);
  width: 100%;
  padding: 20px;
  min-height: 60px;
  background: var(--goavana-danger);
  color: var(--light);
  span {
    font-weight: bolder;
    font-size: 14px;
    text-align: center;
  }
}

.form-sent {
  width: 100%;
  max-width: 513px;
  min-height: 323px;
  background: var(--light);
  border-radius: var(--border-radius);
  border-top: 7px solid var(--goavana-yellow);
  padding: 0 20px;
  position: relative;
  .shape-right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 150px;
    height: auto;
  }
  .shape-left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150px;
    height: auto;
  }
  .check-icon {
    font-size: 50px;
    color: var(--goavana-success);
    margin-bottom: 25px;
  }
  p {
    text-align: center;
  }
  .close-btn {
    margin-top: 45px;
    width: 153px;
    height: 45px;
    padding: 10px 20px;
    background: var(--goavana-blue);
    border: 0;
    z-index: 10;
    outline: 0;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    // typographie
    color: var(--light, #fff);
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16.8px; /* 120% */
    &:hover {
      background: var(--goavana-yellow);
      color: var(--goavana-blue);
    }
  }
}

input {
  padding: 19px 50px;
  background: var(--card-background);
  border: 1px solid var(--border-color);
  outline: 0;
  border-radius: var(--border-radius);
  transition: all 0.2s ease-in-out;
}

input:focus {
  border: 1px solid var(--goavana-blue);
}

input::-webkit-input-placeholder {
  color: var(--text-dark);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px;
}
.file-type-indicator {
  align-items: flex-start;
  p {
    max-width: 150px;
  }
}

input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder,
input::-ms-input-placeholder,
input::placeholder {
  color: var(--text-dark);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px;
}

.select-area {
  @extend input;
  padding: 19px 18px;
}

.send-file {
  margin-top: 25px;
}

.files {
  margin-top: 27px;
  gap: 20px;
  overflow: hidden;
}

.file {
  align-items: flex-start;
  padding: 15px 0;
  border-bottom: 1px solid var(--border-color);
}

.file-info {
  gap: 10px;
}

.info-icon {
  width: 45px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--card-background, #f2f3f6);
  border: 1px solid var(--border-color);
}

.info-text {
  justify-content: space-between;
}

.info-text-name {
  font-weight: 600;
  color: var(--primary-dark);
}

.info-text-taille {
  font-weight: 600;
  color: var(--text-dark);
}

.btn-remove-file {
  border: 0;
  background: 0;
  outline: 0;
  transition: all 0.2s ease-in-out;
  opacity: 0.5;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.btn-remove-file:active {
  transform: scale(0.8);
}

.btn-remove-file:hover {
  opacity: 1;
}

.icon-file {
  font-size: 20px;
  color: var(--primary-dark);
}

.modal-action-button {
  gap: 25px;
}

@media (max-width: 475px) {
  .modal-action-button {
    flex-direction: column;

    .akata-button {
      width: 100%;
    }
  }
  .drop-file-indicator {
    text-align: center;
  }
}

.pedding-send-form {
  padding: 12px 20px;

  background: var(--card-background);
}
