@mixin service-card($images) {
  background: {
    position: center;
    size: cover;
    repeat: no-repeat;
  }
  border-radius: 10px;

  @for $i from 1 through length($images) {
    &:nth-child(#{$i}) {
      $image: nth($images, $i);
      background: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url($image);
    }
  }
}

.service-card {
  padding: 25px;
  height: 311px;
  gap: 10px;
  .card-title {
    color: var(--goavana-yellow);
  }
  .card-description {
    color: var(--light);
    max-width: 441px;
  }
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url("./assets/dev-ops.png");
  $backgrounds: (
    "./assets/dev-ops.png",
    "./assets/ui-ux-design.png",
    "./assets/ai-mastery.png",
    "./assets/app-development.png"
  );
  @include service-card($backgrounds);
  &:nth-child(5),
  &:nth-child(6) {
    justify-content: flex-end;
    align-items: flex-start;
  }
  button {
    max-width: 146px;
    text-transform: uppercase;
    border: 1px solid var(--light);
    background: 0;
    margin-top: 30px;
  }
}
